@import "styles/all";

.filterContainer {
  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;

  padding: 10px 16px;

  border: 1px solid $grey200;
  border-radius: 8px;
}

.drawer {
  .ant-drawer-content {
    padding: 16px;
    background-color: $light;
  }

  .ant-drawer-header {
    background-color: $grey100;
  }
}

.filterContent {
  h3 {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    color: $grey900;
  }
}
