@use "/styles/all" as *;
.ProductCardContent {
  position: relative;

  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;

  padding: 26px 20px 26px 88px;

  font-weight: bold;

  border-bottom: 1px solid $grey400;
  .ImageContent {
    position: absolute;
    top: 17px;
    left: 0;
  }
  .FirstLine {
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: space-between;
    .BorderBtn {
      border-radius: 5px;
    }
  }
}
