@import "styles/all";

.container {
  .introText {
    margin-block: 32px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $grey700;
    text-align: center;
  }
  .formContainer {
    padding-inline: 116px;
    .input {
    }
    .emailInput {
      border: 1px solid $grey200;
    }

    .passwordContainer {
      margin-top: 16px;
      margin-bottom: 12px;
    }

    .rowContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .checkboxStyle {
      :global(.ant-checkbox-checked .ant-checkbox-inner) {
        background-color: $primary !important;
        border-color: $primary !important;
      }

      :global(.ant-checkbox-checked)::after {
        border-color: #ffffff !important;
      }

      &:hover {
        :global(.ant-checkbox-checked .ant-checkbox-inner) {
          background-color: $primary !important;
          border-color: $primary !important;
        }
      }
    }

    .link {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: $primary;
      &:hover {
        color: $primary;
      }
    }

    .signUpContainer {
      margin-top: 12px;
      .signUpText {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: $grey600;
        text-align: center;
        .signUpLink {
          margin-inline-start: 4px;

          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: $orange500;
        }
      }
    }
    .btnContainer {
      margin-top: 16px;
    }
  }
}
