@import "styles/all";

.btn {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
}

// Button variants
.primary {
  background-color: $primaryFF;
  p {
    color: $light !important;
  }
}

.dark {
  background-color: $grey900;
  p {
    color: $light !important;
  }
}

.transparent-grey {
  background-color: $light;
  border: 1px solid $grey200;
  p {
    color: $grey900 !important;
  }
}

.transparent-error {
  background-color: $light;

  // color: $ErrorRed400 !important;colorcolorcolor
}

.warning {
  // background-color: $WarningYellow600 !important;background-colorbackground-colorbackground-color
  p {
    color: $light !important;
  }
}

.isFullWidth {
  width: 100%;
}

// Padding utilities
.padding-block-4 {
  padding-block: 4px;
}

.padding-block-8 {
  padding-block: 8px;
}

.padding-block-10 {
  padding-block: 10px;
}

.padding-inline-8 {
  padding-inline: 8px;
}

.padding-inline-14 {
  padding-inline: 14px;
}

.padding-inline-16 {
  padding-inline: 16px;
}
