@use "/styles/all" as *;

.navbarNotificationContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cartIconContainer {
  position: relative;
}

.notificationIndicator {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $grey;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
