@import "styles/all.scss";

.navbarLink {
  cursor: pointer;

  display: flex;
  gap: 15px;
  align-items: center;

  padding: 8px 12px;

  font-size: 14px;
  color: #4f4f4f;

  border-radius: 6px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f5f5f5;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }

  &.active {
    color: $grey50;
    background-color: $orange500;

    .icon {
      color: $grey50;
    }
  }
}
