$desktop-design-viewport: 1440px;
$desktop-design-height: 1024px;
$mobile-design-viewport: 375px;
$navbar-height: 84px;
$sidebar-width: 280px;

/* Colors */
$Neutral0: #ffffff;
$Neutral100: #f8f9fc;
$Neutral200: #f1f3f9;
$Neutral300: #e1e6ef;
$Neutral40: #d6d6d6;
$Neutral400: #f3f5f7;
$Neutral700: #3f444d;
$Neutral800: #23272f;
$Neutral900: #1b1f27;
$Neutral1000: #0a0d14;

$Primary100: #2f67b2;
$Primary600: #302b27;
$Primary700: #086eb6;
$Primary800: #7dbce7;
$Primary900: #1aa297;
$Primary1000: #0c243c;

$Success100: #edfdf8;
$Success300: #abefc6;
$Success700: #08875d;
$Success800: #04724d;
$Success900: #04724d;

$Warning100: #fff8eb;
$Warning700: #b25e09;
$Warning800: #96530f;
$Warning900: #80460d;

$Danger100: #fef1f2;
$Danger700: #e02d3c;
$Danger800: #ba2532;
$Danger900: #981b25;

$Extra100: #1d2433;
$Extra200: #1d2433cc;
$Extra300: #1d2433a6;
$Extra400: #475467;
$Extra500: #d9d9d9;
$Extra600: #f5f5f5;
$Extra1100: #ffffff;
$Extra1200: #ffffffbf;
$Extra1300: #ffffff99;
