@import "styles/all";

.NotFoundContent {
  position: relative;
  top: 50%;
  transform: translateY(50%);

  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
