@import "styles/all";

.container {
  display: flex;
  gap: 16px;
  align-items: center;

  .searchInput {
    width: 450px;
  }

  .selectionContainerInput {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30%;
  }
}
