@import "styles/all.scss";
.ProductCardContent {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 25px;

  padding-left: 90px;

  font-weight: bold;
  .ImageContent {
    position: absolute;
    top: 1px;
    left: 0;
  }
  .FirstLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .BorderBtn {
      border-radius: 5px;
    }
  }
  .SecondLine {
    display: flex;
    justify-content: space-between;
  }
}
