@import "styles/all.scss";
.container {
  display: flex;
  flex-direction: row;

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
